.gif {
    display: block;
    margin: auto;
    max-width: 50%;
    max-height: 50%;
}

.form-group {
    display: flex;
    justify-content: flex-start;
}

label {
    width: 70px;
    margin-top: 5px;
}

input {
    min-width: 200px;
}

.form-group:nth-of-type(1) {
    margin-top: 60px;
}

a {
    margin-top: 20px;
}

.panierLine {
    border: solid #17a2b8 1px;
    border-radius: 10px;
    padding: 10px 0 0px 0;
}

p.lead {
    margin-top: 50px;
}

img {
    border-radius: 10px 0 0 10px;
}

span {
    color: #CD5C5C;
    font-size: bold;
}

.fa-times-circle {
    font-size: 2rem !important;
    color: grey;
}

.totalCount {
    font-size: 1.2rem;
}

.commande {
    background: url("bgdImages/cameras.png");
    height: 500px;
    padding-top: 100px;
}

.commande p {
    font-size: 1.2rem;
    font-weight: 600;
}